[submodule "themes/hugo-theme-texify"]
	path = themes/hugo-theme-texify
	url = https://github.com/queensferryme/hugo-theme-texify.git
[submodule "themes/quartz"]
	path = themes/quartz
	url = https://github.com/jackyzha0/quartz.git
