{{ define "main" }}
<main id="main" class="index">
    <div class="scorecard">
        <article class="content">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
        </article>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Goal</th>
                    <th>Minutes</th>
                    <th>Title</th>
                    <th>Output</th>
                    <th>Goal Met</th>
                </tr>
            </thead>
            <tbody>
                {{ $paginator := .Paginate (where .Site.RegularPages "Type" "==" "daily") 15 }}
                {{ range $paginator.Pages }}
                <tr>
                    <td><time>{{ .PublishDate.Format .Site.Params.dateFormat}}</time></td>
                    <td>90</td>
                    <td>{{ .Params.input }}</td>
                    <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
                    <td>{{ .Params.output }}</td>
                    {{ if (ge .Params.input 90) }}
                    <td>✅</td>
                    {{ else }}
                    <td>❌</td>
                    {{ end }}
                </tr>
                {{ end }}
            </tbody>
        </table>
        <div class="paginator">
            {{ if $paginator.HasPrev }}
            <a class="link" href="{{ $paginator.Prev.URL }}">← prev</a>
            {{ else }}
            <a></a>
            {{ end }}
            {{ if $paginator.HasNext }}
            <a class="link" href="{{ $paginator.Next.URL }}">next →</a>
            {{ else }}
            <a></a>
            {{ end }}
        </div>
    </div>
</main>
{{ end }}