#main>.daily+.daily {
    margin-top: 2rem;
}

#main>.daily>h2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main>.daily>h2>time {
    font-size: 1rem;
    font-weight: normal;
}

#main>.daily>.content {
    padding-top: 1rem;
}

@media screen and (min-width: 768px) {
    #main>.daily>div {
        margin-left: 2rem;
    }

    .tablemobile {
        overflow-x: auto;
        display: block;
    }
}