time {
    color: gray;
    margin-left: 1rem;
    min-width: 5rem;
}

table {
    border-collapse: collapse;
    border-color: aliceblue;
}

table,
th,
td {
    border: 1px solid;
    padding: 8px;
}

thead {
    background-color: #AAAAAA;
}

.table-val {
    text-align: center;
}

.table-title {
    width: 25%;
    text-align: left;
}

.table-output {
    width: 35%;
    text-align: left;
}