{{ define "header" }}
{{ partial "header.html"}}
{{ end }}

{{ define "main" }}

<section class="uk-section">
  <div class="uk-container">
    <div class="row justify-center">
      <article class="uk-article">
        {{ $image:= .Params.image }}
        {{ if $image }}
        <div class="mb-10">
          <img src="{{.RelPermalink}}{{.Params.image}}" alt="{{ .Params.img_caption }}" class="w-full rounded">
        </div>
        {{ end }}
        <h1 class="uk-article-title">
          {{ .Title }}
        </h1>
        <p class="uk-article-meta uk-margin">
          {{ time.Format ":date_long" .PublishDate }}
        </p>
        <p class="uk-margin">
          {{ .Content }}
        </p>
    </div>
    </article>
  </div>
  </div>
</section>
{{ end }}
