<div
  uk-sticky="start: 200; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
  <nav class="uk-navbar-container">
    <div class="uk-container uk-width-1-1">
      <div uk-navbar>
        <div class="uk-navbar-left">
          <a href="" class="uk-navbar-item">
            <img src="https://localhost:1313/images/logoV2_dark.svg" alt="Evan Azevedo Logo" width="50" height="50"
              class="uk-width-1-2" uk-svg />
            <div class="uk-padding-left">
              <h1 class="text-xl uk-text-nowrap uk-text-logo uk-visible@m">Evan Azevedo</h1>
            </div>
          </a>
        </div>
        <div class="uk-navbar-right">
          <div class="uk-navbar-item">
            <a href="mailto:me@evanazevedo.com" class="uk-button uk-button-primary">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
