<!doctype html>
<html lang="en">

<head>
  <!-- HTML Meta Tags -->
  <title>Evan Azevedo Consulting</title>
  <meta name="description" content="">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/favicon.ico" />

  <!-- OpenGraph Tags -->
  <meta property="og:image" content="/images/logoV2_dark.svg" />
  <meta property="og:title" content="Evan Azevedo Consulting" />

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://evanazevedo.com/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Evan Azevedo Consulting">
  <meta property="og:description" content="">
  <meta property="og:image" content="https://evanazevedo.com/logoV2_dark.svg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="evanazevedo.com">
  <meta property="twitter:url" content="https://evanazevedo.com/">
  <meta name="twitter:title" content="Evan Azevedo Consulting">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="https://evanazevedo.com/images/logoV2_dark.svg">

  <link rel="stylesheet" href="css/output.css" />
  <script src="https://unpkg.com/franken-ui@1.1.0/dist/js/core.iife.js" type="module"></script>
  <script src="https://unpkg.com/franken-ui@1.1.0/dist/js/icon.iife.js" type="module"></script>
  <script>
    const htmlElement = document.documentElement;

    if (
      localStorage.getItem("mode") === "dark" ||
      (!("mode" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      htmlElement.classList.add("dark");
    } else {
      htmlElement.classList.remove("dark");
    }

    htmlElement.classList.add(
      localStorage.getItem("theme") || "uk-theme-orange",
    );
  </script>

</head>
