{{ block "index" . }}
{{ partial "head.html" }}

<body class="bg-background text-foreground antialiased">
  <div class="uk-preserve-color uk-background-cover uk-section-secondary"
    style="background-image: url(&quot;/images/mnts.jpg&quot;)">
    <div class="uk-section uk-padding-remove-vertical">
      <div uk-height-viewport>

        <div
          uk-sticky="start: 200; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
          <nav class="uk-navbar-container">
            <div class="uk-container uk-width-1-1">
              <div uk-navbar>
                <div class="uk-navbar-left">
                  <a href="#" class="uk-navbar-item">
                    <img src="images/logoV2_dark.svg" alt="Evan Azevedo Logo" width="71" height="71"
                      class="uk-width-1-5 uk-height-auto" uk-svg />
                    <div class="uk-text-large uk-padding-left">
                      <h1>Evan Azevedo</h1>
                    </div>
                  </a>
                </div>
                <div class="uk-navbar-right">
                  <div class="uk-navbar-item">
                    <a href="#" class="uk-text-large">Blog</a>
                  </div>
                  <div class="uk-navbar-item">
                    <a href="mailto:me@evanazeedo.com" class="uk-button uk-button-primary">Contact</a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>

        <div uk-height-viewport="offset-top: true">
          <div class="uk-position-center uk-width-2-3">
            <h1 class="uk-heading-xlarge uk-text-center">Software Development Services in Denver, Colorado</h1>
            <div class="uk-padding-medium-top">
              <p class="text-2xl uk-text-center">Automate your business, launch your vision - driving growth
                through smart technology solutions.</p>
            </div>
            <div class="uk-padding-medium-top uk-flex uk-flex-center">
              <a href="mailto:me@evanazeedo.com" class="uk-button uk-button-primary">Discuss My Project</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Problem -->
  <div class="uk-section uk-section-large">
    <div class="uk-container uk-container-xlarge" uk-height-viewport>
      <div class="uk-flex uk-flex-center" uk-grid>
        <div class="uk-width-1-2">
          <img src="images/malamute.jpg" alt="Evan Azevedo Logo" class="" />
        </div>
        <div class="uk-width-1-2">
          <div class="uk-flex-left">
            <h1 class="uk-heading-medium">Don't get lost in your business</h1>
            <div class="uk-padding-top">
              <ul class="uk-list uk-list-hyphen">
                <li class="uk-text-large">You don't have the data needed to make crucial business decisions</li>
                <li class="uk-text-large">Your employees spend time running your business instead of delighting
                  customers</li>
                <li class="uk-text-large">Several spreadsheets are needed just to run your business</li>
                <li class="uk-text-large">You'd like to add a software product to your business but don't know where to
                  start</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Solution -->
  <div class="uk-section uk-section-large">
    <div class="uk-container uk-container-xlarge" uk-height-viewport>
      <div class="uk-flex uk-flex-center" uk-grid>
        <div class="uk-width-1-2">
          <div class="uk-flex-left">
            <h1 class="uk-heading-medium">Hi, I'm Evan Azevedo, and I'm a software developer based in Denver, Colorado
            </h1>
            <div class="uk-padding-top">
              <p class="text-2xl">I've spent the last 3+ years helping businesses automate tasks that are
                too tedious or impossible to do manually and helping them derive valuable insights from their data.
              </p>
            </div>
            <div class="uk-padding-top">
              <p class="text-2xl uk-text-center">My areas of specialty include:
              </p>
              <ul class="uk-list uk-list-hyphen">
                <li class="uk-text-large">APIs and integrations</li>
                <li class="uk-text-large">Data engineering and ETL</li>
                <li class="uk-text-large">DevOps and automated deployments</li>
                <li class="uk-text-large">Data analytics and machine learning</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="uk-width-1-2">
          <img src="images/portrait1.jpeg" alt="Evan Azevedo Logo" class="" />
        </div>
      </div>
    </div>
  </div>

  <!-- Benefits -->
  <div class="uk-section uk-section-large">
    <div class="uk-container" uk-height-viewport>
      <h1 class="uk-heading-medium uk-padding-bottom">Why work with me</h1>
      <div class="uk-flex-top" uk-grid>
        <div class="uk-flex uk-width-1-3">
          <div class="uk-flex-middle uk-flex-center" uk-grid>
            <img src="images/logoV2_dark.svg" alt="Evan Azevedo Logo" class="uk-width-1-4 uk-height-auto" />
            <article class="uk-article uk-flex-left">
              <h1 class="uk-article-title">Understand my business</h1>
              <p class="uk-article-meta uk-margin">The data to make your business simpler and more successful is out
                there. I'll help you collect it and use it to grow your business
              </p>
            </article>
          </div>
        </div>
        <div class="uk-flex uk-width-1-3">
          <div class="uk-flex-middle uk-flex-center" uk-grid>
            <img src="images/logoV2_dark.svg" alt="Evan Azevedo Logo" class="uk-width-1-4 uk-height-auto" />
            <article class="uk-article uk-flex-left">
              <h1 class="uk-article-title">Streamline my operations</h1>
              <p class="uk-article-meta uk-margin">Improve accuracy and free up your employees time by removing manual
                processes holding your business back</p>
            </article>
          </div>
        </div>
        <div class="uk-flex uk-width-1-3">
          <div class="uk-flex-middle uk-flex-center" uk-grid>
            <img src="images/logoV2_dark.svg" alt="Evan Azevedo Logo" class="uk-width-1-4 uk-height-auto" />
            <article class="uk-article uk-flex-left">
              <h1 class="uk-article-title">Create digital products</h1>
              <p class="uk-article-meta uk-margin">Explore a new revenue stream with a small version of your app,
                whether it's an online store or a new way for your customers to interact with your business
              </p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Action Plan -->
  <div class="uk-section uk-section-large ">
    <div class="uk-container uk-container-xlarge">
      <div class="uk-flex-middle uk-grid">
        <div class="uk-flex uk-width-1-2">
          <div class="uk-flex-middle uk-flex-center" uk-grid>
            <article class="uk-article uk-flex-left">
              <h1 class="uk-article-title">Web App Development: Turn Your Vision into a Tested Reality</h1>
              <p class="uk-article-meta uk-margin">Have a big idea but need to test it in the market? I create custom
                full-stack web applications designed to function as an MVP (Minimum Viable Product). Whether you're
                looking to validate your concept or fine-tune your offering, I build user-friendly solutions that help
                you gather feedback and scale efficiently.
              </p>
            </article>
            <div class="uk-child-width-expand@s uk-flex-middle uk-flex-center" uk-grid>
              <div class="uk-flex-middle uk-flex-center" uk-grid>
                <img src="images/logoV2_dark.svg" alt="Evan Azevedo Logo" class="uk-width-1-4 uk-height-auto" />
                <article class="uk-article uk-flex-left">
                  <h1 class="uk-article-title">Tailored Solutions</h1>
                  <p class="uk-article-meta uk-margin">Custom-built applications that grow with your business and
                    simplify
                    your processes.</p>
                </article>
              </div>
              <div class="uk-flex-middle uk-flex-center" uk-grid>
                <img src="images/logoV2_dark.svg" alt="Evan Azevedo Logo" class="uk-width-1-4 uk-height-auto" />
                <article class="uk-article uk-flex-left">
                  <h1 class="uk-article-title">Tailored Solutions</h1>
                  <p class="uk-article-meta uk-margin">Custom-built applications that grow with your business and
                    simplify
                    your processes.</p>
                </article>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-1-2">
          <img src="images/malamute.jpg" alt="Portrait" />
        </div>
      </div>
    </div>
  </div>

  {{ partial "footer.html" }}
</body>

</html>
{{ end }}
