{{ block "index" . }}
<!doctype html>
<html lang="en">

<head>
  <title>Evan Azevedo</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/output.css" />
  <script src="https://unpkg.com/htmx.org@2.0.0"
    integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/franken-ui@1.1.0/dist/js/core.iife.js" type="module"></script>
  <script src="https://unpkg.com/franken-ui@1.1.0/dist/js/icon.iife.js" type="module"></script>

</head>

<body>
  <header>
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-container">
        <div class="uk-navbar-left">
          <a href="#" class="uk-navbar-item uk-logo"><img src="images/logoV2_light.svg" alt="Evan Azevedo Logo"
              class="uk-width-small uk-height-auto" /></a>
        </div>
      </div>
    </nav>
  </header>

  <div class="grid grid-cols-2 gap-4">
    <article class="uk-article">
      <h1 class="uk-article-title">Efficiency Meets Innovation</h1>
      <p class="uk-article-meta">Automate your business, launch your vision - driving growth through smart technology
        solutions.</p>
  </div>
  <div>
    <p>Some text</p>
  </div>
  </div>

  <footer>
    <p>&copy; 2024 Evan Azevedo. All rights reserved.</p>
  </footer>
</body>

</html>
{{ end }}
