{{ block "index" . }}
<!doctype html>
<html lang="en">
  <head>
    <title>Evan Azevedo</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/style.css" />
    <script
      src="https://unpkg.com/htmx.org@2.0.0"
      integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <h1>Evan Azevedo</h1>
    </header>

    <footer>
      <p>&copy; 2024 My Site. All rights reserved.</p>
    </footer>
  </body>
</html>
{{ end }}
